html, body, #root, .react-root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  text-align: center;
}

button {
padding: 10px;
margin: 5px;
border: 3px solid white;
color: white;
font-size: 20px;
outline-color: whitesmoke;
}

.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: #d3e3fc;
  color: #8e8d8a;
}

.yellow {
  background-color: #f8e9a1;
  color: #8e8d8a;
}

.salmon {
  background-color: salmon;
  color: white;
}

.pink {
  background-color: #ffccbc;
  color: #8e8d8a;
}